# Compiled class files
*.class

# Log files
*.log

# Temporary files
*.tmp
*.temp
*.swp

# Maven target directory
/target/

# IntelliJ IDEA project files
/.idea/
/*.iml
/target/

# Ignore any `.env` files where sensitive environment variables may be stored
.env

# Twilio configuration files (if any, like twilio.properties)
src/main/resources/twilio.properties

# macOS specific files
.DS_Store

# Other sensitive files
application.properties
config/
credentials/
